<div class="main">
  <div class="displayToCenter"></div>
    <div class="display">
      <div class="displayedNumber">{{toDisplay}}</div>
    </div>
  <div class="control">
    <div class="floor">
      <div class="symbols buttons" (click)="onSmile()">:)</div>
      <div class="C buttons" (click)="onC()">C</div>
      <div class="symbols buttons" (click)="deletePreviousNumber()"><=</div>
      <div class="symbols buttons" (click)="onDivide()">/</div>
    </div>
    <div class="floor">
      <div class="numbers buttons" (click)="onSeven()">7</div>
      <div class="numbers buttons" (click)="onEight()">8</div>
      <div class="numbers buttons" (click)="onNine()">9</div>
      <div class="symbols buttons" (click)="onMultiply()">*</div>
    </div>
    <div class="floor">
      <div class="numbers buttons" (click)="onFour()">4</div>
      <div class="numbers buttons" (click)="onFive()">5</div>
      <div class="numbers buttons" (click)="onSix()">6</div>
      <div class="symbols buttons" (click)="onMinus()">-</div>
    </div>
    <div class="floor">
      <div class="numbers buttons" (click)="onOne()">1</div>
      <div class="numbers buttons" (click)="onTwo()">2</div>
      <div class="numbers buttons" (click)="onThree()">3</div>
      <div class="symbols buttons" (click)="onPlus()">+</div>
    </div>
    <div class="floor">
      <div class="symbols buttons" (click)="onChangeSymbol()">+/-</div>
      <div class="numbers buttons" (click)="onZero()">0</div>
      <div class="symbols buttons" (click)="onPoint()">.</div>
      <div class="equal buttons" (click)="onEqual()">=</div>
    </div>
  </div>
</div>
